DATABASE_URL="postgresql://postgres:postgres@localhost:5432/simrs"
PORT=3000

# Better Auth Secret (Gunakan random string 32+ karakter untuk production)
BETTER_AUTH_SECRET="simrs_development_secret_key_1234567890"

# URL Backend (URL Aplikasi Server ini)
# Local: http://localhost:3000
# Prod: https://api.namadomain.com
BETTER_AUTH_URL="http://localhost:3000/api/auth"

# URL Frontend (URL Aplikasi Client React/Vite) - Pisahkan dengan koma jika lebih dari satu
# Local: http://localhost:5173, http://localhost:5174, http://localhost:5175, http://localhost:5176
# Prod: https://namadomain.com, https://www.namadomain.com
FRONTEND_URL="http://localhost:5173"
